.nav-links:hover {
    color: #27C3C5;
    text-decoration: none;
    
}
.nav-links{
    font-family:'Lato'
}
.book-now:hover ,.explore-trips-button:hover{
    transform: scale(1.05);
}
.book-now,.explore-trips-button{
    background-color: #27C3C5;
    transition: all 0.2s ease-in-out;
}
/* .nav-bar{
    position: relative;
    margin-top: 10px;
} */
.nav-bar-full{
    background-color:rgba(0,0,0,0.3);
}
.container1{
    padding:30px;
}
*{
    font-family: 'Lato', sans-serif;
}
.scroll{
    bottom:40px;
    margin: 0;
    position: absolute;
     left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
   
}
.down-arrow{
    animation: blink 3s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.learn-more-button,
.explore-trips-button{
    width:186px;
}
@media screen and (max-width: 480px) {
    .button-group{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 28px;
    }

}
@media screen and (max-height: 840px){
    .scroll{
        display: none;
    }
}